@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap; 
  src: url('../fonts/space-mono-v13-latin-700.woff2') format('woff2'),
       url('../fonts/space-mono-v13-latin-700.woff') format('woff'),
}

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lexend-deca-v21-latin-regular.woff2') format('woff2'),
       url('../fonts/lexend-deca-v21-latin-regular.woff') format('woff'),
}

*,
::before
::after {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", "Arial", sans-serif;
  font-weight: 700;
  overflow-x: hidden;
}

img {
  display: block;
  height: auto;
}

.container {
  width: 1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* header part starts */

.site-header {
  padding-block: 22px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  align-items: center;
  column-gap: 32px;
  margin-block: 0;
  margin-left: 58px;
  padding-left: 0;
  list-style-type: none;
}

.navbar-link {
  text-decoration-line: none;
  color: #939caa;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px; 
}

.get-scootin {
  padding: 14px 39px;
  margin-left: auto;
  text-decoration-line: none;
  font-size: 15px;
  line-height: 25px; 
  color: #fff;
  background-color: #fcb72b;
}

/* header part ends */

/* hero section starts */

.hero {
  position: relative;
  padding-top: 153px;
  padding-bottom: 152px;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-inner {
  width: 500px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 56px;
  line-height: 56px; 
  letter-spacing: -2.5px;
  color: #fff;
}

.hero-content-wrapper {
  display: flex;
}

.hero-desc-wrapper {
  width: 405px;
  margin-left: 95px;
}

.hero::after {
  position: absolute;
  right: calc(50% - 800px);
  bottom: 160px;
  display: inline-block;
  content: "";
  width: 234px;
  height: 62px;
  background-image: url("../images/hero-circle-min.svg");
}

.hero-desc {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; 
  color: #fff;
}

.hero-link {
  display: inline-block;
  padding: 14px 39px;
  text-decoration-line: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px; 
  color: #fff;
  background-color: #fcb72b;
}

.hero-ba-wrapper {
  position: relative;
}

.hero-ba-wrapper::before {
  position: absolute;
  top: calc(50% + 20px);
  left: calc(50% - 760px);
  display: inline-block;
  content: "";
  width: 203px;
  height: 15px;
  background-image: url("../images/hero-line-min.svg");
}

.hero-ba-wrapper::after {
  position: absolute;
  display: inline-block;
  top: calc(50% + 20px);
  left: calc(50% + 20px);
  content: "";
  width: 450px;
  height: 150px;
  background-image: url("../images/hero-right-arrow-min.svg");
  background-repeat: no-repeat;
}

/* hero section ends */

/* stages section starts */

.stages {
  position: relative;
  padding-top: 160px;
  padding-bottom: 140px;
}

.stages::before {
  position: absolute;
  top: calc(50% - 95px);
  left: calc(50% - 780px);
  display: inline-block;
  content: "";
  width: 974px;
  height: 15px;
  background-image: url("../images/path-min.svg");
  z-index: -1;
}

.stages-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.stages-item {
  width: 350px;
}

.stages-item::before {
  display: inline-block;
  margin-bottom: 40px;
  content: "";
  width: 96px;
  height: 96px;
  background-image: url("../images/app-min.svg");
}

.stages-item:nth-child(2)::before {
  background-image: url("../images/scooter-min.svg");
}

.stages-item:nth-child(3)::before {
  background-image: url("../images/ride-min.svg");
}

.stages-title {
  margin-block: 0;
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 28px; 
  letter-spacing: -1.071px;
  color: #495567;
}

.stages-desc {
  margin-block: 0;
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; 
  color: #939caa;
}

/* stages section ends */

/* telemetry section starts */

.telemetry {
  padding-top: 10px;
  padding-bottom: 200px;
  background-image: url("../images/aqua-circle.png"), url("../images/aqua-circle.png"),
  url("../images/aqua-circle.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 900px) calc(50% - 100px), calc(50% + 900px) calc(50% - 700px), 
  calc(50% + 900px) calc(50% + 500px);
}

.telemetry-list {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.telemetry-item {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.telemetry-item:nth-child(2) {
  flex-direction: row-reverse;
}

.telemetry-item::after {
  display: inline-block;
  position: absolute;
  right: calc(50% - 760px);
  top: calc(50% + 100px);
  content: "";
  width: 740px;
  height: 150px;
  background-image: url("../images/riding-left-arrow-min.svg");
}

.telemetry-item:nth-child(2)::after {
  top: calc(50% - 220px);
  right: calc(50% + 380px);
  background-image: url("../images/near-right-arrow-min.svg");
}

.telemetry-item:nth-child(3)::after {
  top: calc(50% - 130px);
  left: calc(50% + 380px);
}

.telemetry-inner {
  width: 445px;
}

.telemetry-title {
  margin-block: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 48px; 
  letter-spacing: -2.143px;
  color: #495567;
}

.telemetry-desc {
  margin-block: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #939caa;
  }

  .learn-more {
    display: inline-block;
    padding: 14px 44px;
    text-decoration-line: none;
    font-size: 15px;
    line-height: 25px; 
    color: #fff;
    background-color: #fcb72b;
  } 

  .zero-payments {
    border-radius: 50%;
  }

/* telemetry section sends */